.pg-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: @container-max-width;
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}

.to-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
}

.to-down {
  position: fixed;
  bottom: 80px;
  right: 20px;
  border: none;
  cursor: pointer;
}